@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: Larry-Regular;
  src: url("./fonts/manrope/Manrope-Regular.ttf");
}
@font-face {
  font-family: Larry-Medium;
  src: url("./fonts/manrope/Manrope-Medium.ttf");
}
@font-face {
  font-family: Larry-SemiBold;
  src: url("./fonts/manrope/Manrope-SemiBold.ttf");
}
@font-face {
  font-family: Larry-Bold;
  src: url("./fonts/manrope/Manrope-Bold.ttf");
}
@font-face {
  font-family: Larry-ExtraBold;
  src: url("./fonts/manrope/Manrope-ExtraBold.ttf");
}

@font-face {
  font-family: Syne-Regular;
  src: url("./fonts/syne/Syne-Regular.ttf");
}

:root {
  --background: #E9EAEB;
  --foreground: #171717;

  --primary-color:#1c92d2;
  --secondary-color:#f2fcfe;

  --primary-dark: #156c9c;
  --primary-light: #d9f4fc;
  --accent-color: #0f4e75;
}

.dark{
  --background: #0a0a0a;
  --foreground: #ededed;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Larry-Regular", sans-serif;
}
